/* CSS Reset */
*{
    margin: 0;
    padding: 0;
}

/* CSS Variables */
:root{
    --navbar-height: 59px;
}

/* Navigation Bar */
#navbar{
    display: flex;
    align-items: center;  /* center items vertically*/
    /* justify-content: center;    center items horrizontally */
}

#navbar::before{
    content: "";
    background-color: black;
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: -1;
    opacity: 0.4;

}

/* Navigation Bar: Logo and Image */
#logo{
    margin: 10px 20px;;
}
#logo img{
    margin: 3px 0px;
    height: 93px;
}

/* Navigation Bar: List Styling */
#navbar{
    position: relative;
}

#navbar ul{
    display: flex;
}
#navbar ul li{
    list-style: none;
    font-size: 1.3rem;  /* mai padding isliye alag se de rhi hun kyuki agar hum yha pe diye padding toh jab hum kisi bh
}i li pe hover krenge toh jo effect dikhta h wo nhi dikhega */
}
#navbar ul li a{
    display: block;
    padding: 3px 22px;
    border-radius: 2px;
    color: white;
    text-decoration: none;
}

#navbar ul li a:hover{
    color: black;
    background-color: white;
    border-radius: 15px;
}

/* Homw Section */
#home{
    display: flex;
    flex-direction: column;
    padding: 5px 200px;
    height: 352px;
    justify-content: center;
    align-items: center;

}

#home::before{
    content: "";
    background: url(../bag2.jpg) no-repeat center center/cover;
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: -1;
    opacity: 0.70;
}

#home h1{
    /* color: white; */
    text-align: center;
}
#home p{
    /* color: white; */
    text-align: center;
    font-size: 1.1rem;
}

/* Utility Classes */
.h1-primary{
    font-size: 3rem;
    padding: 12px;
}